.DS_Store
.eslintrc.js
.jshintrc
.nvmrc
.rdoc_options
.rspec
.rubocop.yml
.ruby-gemset
.stylelintrc.js
README.md
auth_utils
changelog.txt
check_models.rb
configurations
db_files.txt
doc
form_schema
format_samples
node_modules
rspec_results
spec
*.orig
public/assets/
script/
tmp/
misc
