.multiple {
  height: 100vh;     /* Set the form to take 100% of the viewport height */
  max-width: 90%;
  margin: -120px auto 0; /* Add negative top margin to move the form up */
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;                /*Center the form contents vertically */
  align-items: center;  /*Center the form contents horizontally */
  gap: 1rem;
  text-align: center;
  float: left;
}

/* Rest of the CSS remains unchanged */
.multiple__input,
.multiple__button,
.multiple__textarea {
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  width: 100%;
  padding: 10px;
  display: flex;
  position: relative;
}

.multiple__input {
  padding: 5px;
}

.multiple__text {
  display: grid;
  justify-content: center;
}

.multiple__button {
  display: block;
  padding: 5px 0;
  cursor: pointer;
}

.multiple__textarea {
  padding: 10px;
  resize: none;
  height: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.multiple__textarea textarea {
  margin: 0 auto;
}

.dropdown__selected {
  margin-top: 9rem;
}

.container {
  display: flex;
  grid-template-columns: repeat(3, 1fr); /* Adjust the number of columns as needed */
  gap: 20px; /* Adjust the gap between boxes as needed */
  max-width: 100%;
}

.box {
  padding: 20px;
  background-color: #f0f0f0;
}

